html {
  color: #333;
  background-color: #F2F2F2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.5 "Helvetica neue", "Helvetica", "Tahoma", "Arial", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "sans-serif";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
i,
em {
  font-style: normal;
}
button,
iframe {
  border: 0 none;
}
a:link,
a:visited {
  color: #999;
  text-decoration: none;
}
a:hover,
a:active {
  color: #00BBFF;
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: #00BBFF;
  border-bottom: 1px solid #d9d9d9;
}
.header .inner {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 740px;
}
.header .logo .title a {
  display: inline-block;
  font-size: 28px;
  line-height: 50px;
}
.header .logo .title a:link,
.header .logo .title a:visited {
  color: #FFF;
  -webkit-transition: color 0.3s ease-in-out;
}
.header .logo .title a:hover,
.header .logo .title a:active {
  color: #F2F2F2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
.header .logo .description {
  display: none;
}
.header .logo .description a {
  color: #f9f9f9;
}
.header .nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
}
.header .nav ul {
  list-style: none;
}
.header .nav li {
  float: left;
}
.header .nav li a {
  display: block;
  padding: 13px 18px;
  font-size: 16px;
  text-decoration: none;
}
.header .nav li a:link,
.header .nav li a:visited {
  color: #FFF;
  -webkit-transition: color 0.3s ease-in-out;
}
.header .nav li a:hover,
.header .nav li a:active {
  color: #F2F2F2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
.container {
  margin: 80px auto 0 auto;
  width: 740px;
}
.main {
  width: 740px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/**
 * 文章列表
 */
/**
 * 侧边栏
 */
.sidebar {
  display: none;
  width: 100%;
}
.sidebar .search {
  float: left;
}
.sidebar .search input[type="search"] {
  padding: 6px;
  width: 188px;
  border: 0 none;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}
.sidebar .widget {
  float: left;
  margin-top: 30px;
  padding: 14px;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  /* widget tag */
}
.sidebar .widget .title {
  margin-bottom: 14px;
  padding-bottom: 14px;
  font-size: 24px;
  line-height: 24px;
  color: #555;
  border-bottom: 1px solid #EEE;
}
.sidebar .widget .entry li {
  padding-bottom: 4px;
}
.sidebar .widget .entry li sup {
  font-size: 12px;
}
.sidebar .widget.category ul {
  padding-left: 30px;
}
.sidebar .widget.tag .entry {
  font-size: 0;
}
.sidebar .widget.tag .entry li {
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
}
.sidebar .widget.tag .entry li a {
  font-size: 14px;
  display: inline-block;
  padding: 2px 6px;
}
.sidebar .widget.tag .entry li a:link,
.sidebar .widget.tag .entry li a:visited {
  color: #999;
  background: #f0f0f0;
}
.sidebar .widget.tag .entry li a:hover,
.sidebar .widget.tag .entry li a:active {
  color: #18b4f0;
  background: #f5f5f5;
}
.sidebar .widget.tag .entry li sup {
  display: none;
}
/**
 * @overview: 归档页面
 */
.archive-title {
  margin-bottom: 16px;
  padding: 16px 24px;
  font-size: 24px;
  color: #999;
  background-color: #FFF;
  text-shadow: 0 0 1px #FFF;
  border-radius: 3px;
}
.archive {
  padding: 16px 24px;
  background-color: #FFF;
}
.archive .archive-list {
  list-style: none;
  margin-bottom: 8px;
}
.archive .archive-list dt {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
  background-color: #F0F0F0;
  text-shadow: 0 0 1px #F0F0F0;
  border-radius: 3px;
}
.archive .archive-list dd {
  margin: 4px 8px;
}
.archive .archive-list .date {
  float: right;
  color: #555;
}
/**
 * @overview: 首页
 */
.post {
  padding: 24px;
  margin-bottom: 32px;
  background-color: #FFF;
  border-radius: 3px;
}
.post .gallery {
  display: none;
}
.post .post-content .post-hd {
  margin-bottom: 24px;
}
.post .post-content .post-hd h1 {
  font-size: 30px;
  font-weight: normal;
  text-shadow: 0 0 1px #FFF;
}
.post .post-content .post-hd h1 a:link,
.post .post-content .post-hd h1 a:visited {
  color: #555;
}
.post .post-content .post-hd h1 a:hover,
.post .post-content .post-hd h1 a:active {
  color: #00BBFF;
}
.post .post-content .post-hd .date,
.post .post-content .post-hd .categories {
  color: #CCC;
}
.post .post-content .post-hd .date {
  margin-right: 8px;
}
.post .post-content .post-bd.markdown-body h1 {
  font-size: 24px;
}
.post .post-content .post-bd.markdown-body h2 {
  font-size: 20px;
}
.post .post-content .post-bd.markdown-body h3 {
  font-size: 18px;
}
.post .post-content .post-bd.markdown-body h4 {
  font-size: 16px;
}
.post .post-content .post-bd.markdown-body h5 {
  font-size: 14px;
}
.post .post-content .post-bd.markdown-body h6 {
  font-size: 12px;
}
.post .post-content .post-bd.markdown-body h1,
.post .post-content .post-bd.markdown-body h2,
.post .post-content .post-bd.markdown-body h3,
.post .post-content .post-bd.markdown-body h4,
.post .post-content .post-bd.markdown-body h5,
.post .post-content .post-bd.markdown-body h6 {
  margin: 16px 0;
  padding-bottom: 8px;
}
.post .post-content .post-bd.markdown-body p {
  margin-bottom: 16px;
}
.post .post-content .post-bd.markdown-body .highlight {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #F7F7F7;
  overflow: auto;
  border-radius: 3px;
}
.post .post-content .post-bd.markdown-body .highlight .gutter pre {
  color: #999;
  text-align: right;
  padding-right: 16px;
}
.post .post-content .post-bd.markdown-body .highlight .code pre {
  padding-right: 16px;
  color: #555;
}
.post .post-content .post-bd.markdown-body .highlight .line {
  height: 24px;
}
.post .post-content .post-bd.markdown-body .highlight pre,
.post .post-content .post-bd.markdown-body .highlight code {
  font-family: Monaco, Menlo, Consolas, monospace;
}
.post .post-content .post-bd.markdown-body .highlight pre {
  word-wrap: break-word;
  word-break: normal;
}
.post .post-content .post-bd.markdown-body .highlight table {
  border-collapse: collapse;
  border-spacing: 0;
}
.post .post-content .post-bd.markdown-body pre .comment,
.post .post-content .post-bd.markdown-body pre .title {
  color: #CCC;
}
.post .post-content .post-bd.markdown-body pre .css .id,
.post .post-content .post-bd.markdown-body pre .css .class,
.post .post-content .post-bd.markdown-body pre .css .pseudo {
  color: #f2777a;
}
.post .post-content .post-bd.markdown-body pre .css .rules .attribute {
  color: #9c9;
}
.post .post-content .post-bd.markdown-body pre .css .hexcolor {
  color: #6cc;
}
.post .post-content .post-bd.markdown-body pre .javascript .title,
.post .post-content .post-bd.markdown-body pre .coffeescript .title {
  color: #69c;
}
.post .post-content .post-bd.markdown-body pre .javascript .function,
.post .post-content .post-bd.markdown-body pre .coffeescript .function {
  color: #c9c;
}
.post .post-content .post-bd.markdown-body pre .xml .tag .title {
  color: #f2777a;
}
.post .post-content .post-bd.markdown-body pre .xml .pi,
.post .post-content .post-bd.markdown-body pre .xml .doctype {
  color: #f2777a;
}
.post .post-content .post-bd.markdown-body pre .xml .cdata {
  color: #9c9;
}
.post .post-content .post-bd.markdown-body pre .python .decorator,
.post .post-content .post-bd.markdown-body pre .python .title {
  color: #69c;
}
.post .post-content .post-bd.markdown-body pre .ruby .constant {
  color: #f2777a;
}
.post .post-content .post-bd.markdown-body pre .ruby .function .title {
  color: #69c;
}
.post .post-content .post-bd.markdown-body pre .ruby .title .keyword {
  color: #69c;
}
.post .post-content .post-bd.markdown-body pre .ruby .symbol {
  color: #9c9;
}
.post .post-content .post-bd.markdown-body pre .ruby .class .title {
  color: #9c9;
}
.post .post-content .post-bd.markdown-body pre .class {
  color: #9c9;
}
.post .post-content .post-bd.markdown-body pre .variable,
.post .post-content .post-bd.markdown-body pre .attribute,
.post .post-content .post-bd.markdown-body pre .tag,
.post .post-content .post-bd.markdown-body pre .regexp,
.post .post-content .post-bd.markdown-body pre .html .doctype {
  color: #f2777a;
}
.post .post-content .post-bd.markdown-body pre .number,
.post .post-content .post-bd.markdown-body pre .preprocessor,
.post .post-content .post-bd.markdown-body pre .built_in,
.post .post-content .post-bd.markdown-body pre .literal,
.post .post-content .post-bd.markdown-body pre .params,
.post .post-content .post-bd.markdown-body pre .constant {
  color: #f99157;
}
.post .post-content .post-bd.markdown-body pre .string,
.post .post-content .post-bd.markdown-body pre .value,
.post .post-content .post-bd.markdown-body pre .inheritance,
.post .post-content .post-bd.markdown-body pre .header {
  color: #9c9;
}
.post .post-content .post-bd.markdown-body pre .keyword {
  color: #c9c;
}
.post .post-content .post-bd.markdown-body pre .function,
.post .post-content .post-bd.markdown-body pre .perl .sub {
  color: #69c;
}
.post .post-content .post-bd.markdown-body code {
  padding: 2px 4px;
  text-shadow: 0 0 1px #FFF;
  background-color: #F0F0F0;
}
.post .post-content .post-bd.markdown-body ol,
.post .post-content .post-bd.markdown-body ul {
  margin: 0 24px 24px 24px;
}
.post .post-content .post-bd.markdown-body strong {
  font-weight: bold;
}
.post .post-content .post-ft .more {
  text-align: right;
}
.post .post-content .post-ft .more a,
.post .post-content .post-ft .tags a {
  padding: 6px 8px;
  background-color: #00BBFF;
  border-radius: 3px;
}
.post .post-content .post-ft .more a:link,
.post .post-content .post-ft .tags a:link,
.post .post-content .post-ft .more a:visited,
.post .post-content .post-ft .tags a:visited {
  color: #FFF;
  -webkit-transition: color 0.3s ease-in-out;
}
.post .post-content .post-ft .more a:hover,
.post .post-content .post-ft .tags a:hover,
.post .post-content .post-ft .more a:active,
.post .post-content .post-ft .tags a:active {
  color: #F2F2F2;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
/**
 * @overview: 公用部分
 */
::selection {
  color: #FFF;
  background-color: #00BBFF;
}
/**
 * @overview: 底部
 */
.footer {
  padding: 24px;
  color: #CCC;
  text-align: center;
  text-shadow: 0 0 1px #FFF;
}
/**
 * @overview: 导航翻页
 */
.page-nav {
  padding: 16px 24px;
  margin-bottom: 32px;
  text-align: center;
  background-color: #FFF;
  border-radius: 3px;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav .page-number {
  padding: 4px 8px;
}
.page-nav .page-number.current {
  color: #00BBFF;
}
.page-nav .space {
  color: #999;
}
/**
 * @overview: 第三方评论
 */
.extra-comment {
  margin-bottom: 32px;
  padding: 24px;
  background-color: #FFF;
  border-radius: 3px;
}
/**
 * @overview: 关于我
 */
.page-about {
  margin-bottom: 32px;
  padding: 24px;
  min-height: 400px;
  background-color: #FFF;
  border-radius: 3px;
}
.page-about .about-title {
  font-size: 24px;
  color: #999;
  text-shadow: 0 0 1px #FFF;
}
.page-about .about-list {
  margin-bottom: 32px;
  padding: 24px;
}
.page-about .about-list code {
  padding: 2px 4px;
  background-color: #F0F0F0;
}
