/**
 * @overview: 归档页面
 */
.archive-title {
  padding: 0 24px;
  font-size: 30px;
  color: #555;
  background-color: #FFF;
  border-radius: 3px;
}
.archive {
  padding: 16px 24px;
  background-color: #FFF;
}
.archive .archive-list {
  margin-bottom: 16px;
}
.archive .archive-list dt {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-size: 24px;
  color: #000;
  border-bottom: 1px solid #E0E0E0;
}
.archive .archive-list dd {
  position: relative;
  z-index: 1;
  margin: 4px 8px;
  padding-left: 4px;
}
.archive .archive-list dd:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  z-index: 8;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  background-color: #777;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.archive .archive-list .date {
  float: right;
  color: #777;
}
.archive .archive-list .title {
  font-size: 14px;
}
.archive .archive-list a:link,
.archive .archive-list a:visited {
  color: #777;
  -webkit-transition: margin-left 0.3s ease-in-out;
}
.archive .archive-list a:hover,
.archive .archive-list a:active {
  margin-left: 8px;
}
