/**
 * @overview: 公用部分
 */
::selection {
  color: #FFF;
  background-color: #00BBFF;
}
body {
  font-size: 62.5%;
}
.container {
  margin: 80px auto 0 auto;
  max-width: 740px;
}
.main {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/**
 * @overview: 底部
 */
.footer {
  padding: 24px;
  color: #777;
  text-align: center;
  text-shadow: 0 0 1px #FFF;
}
/**
 * @overview: 导航翻页
 */
.page-nav {
  padding: 16px 24px;
  margin-bottom: 32px;
  text-align: center;
  background-color: #FFF;
  border-radius: 3px;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav .page-number {
  padding: 4px 8px;
}
.page-nav .page-number.current {
  color: #00BBFF;
}
.page-nav .space {
  color: #999;
}
/**
 * @overview: 第三方评论
 */
.extra-comment {
  margin-bottom: 32px;
  padding: 24px;
  background-color: #FFF;
  border-radius: 3px;
}
