.container {
  margin: 80px auto 0 auto;
  width: 740px;
}
.main {
  width: 740px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/**
 * 文章列表
 */
/**
 * 侧边栏
 */
.sidebar {
  display: none;
  width: 100%;
}
.sidebar .search {
  float: left;
}
.sidebar .search input[type="search"] {
  padding: 6px;
  width: 188px;
  border: 0 none;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}
.sidebar .widget {
  float: left;
  margin-top: 30px;
  padding: 14px;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  /* widget tag */
}
.sidebar .widget .title {
  margin-bottom: 14px;
  padding-bottom: 14px;
  font-size: 24px;
  line-height: 24px;
  color: #555;
  border-bottom: 1px solid #EEE;
}
.sidebar .widget .entry li {
  padding-bottom: 4px;
}
.sidebar .widget .entry li sup {
  font-size: 12px;
}
.sidebar .widget.category ul {
  padding-left: 30px;
}
.sidebar .widget.tag .entry {
  font-size: 0;
}
.sidebar .widget.tag .entry li {
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
}
.sidebar .widget.tag .entry li a {
  font-size: 14px;
  display: inline-block;
  padding: 2px 6px;
}
.sidebar .widget.tag .entry li a:link,
.sidebar .widget.tag .entry li a:visited {
  color: #999;
  background: #f0f0f0;
}
.sidebar .widget.tag .entry li a:hover,
.sidebar .widget.tag .entry li a:active {
  color: #18b4f0;
  background: #f5f5f5;
}
.sidebar .widget.tag .entry li sup {
  display: none;
}
