html {
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 16px/1.5 "Helvetica neue", "Helvetica", "Tahoma", "Arial", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "sans-serif";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
/* i,em{font-style:normal;} */
/* ul,ol{ list-style:none;} markdown样式又冲突... */
button,
iframe {
  border: 0 none;
}
a:link,
a:visited {
  color: #999;
  text-decoration: none;
}
a:hover,
a:active {
  color: #00BBFF;
  text-decoration: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
